<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta author="tkluge" />
		<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="./css/forgot.css">
		<meta name="theme-color" content="#225378">
		<title>Forgot</title>
	</head>
	<body>
		<div class="bg-panel"></div>
		<div id="root">
			<div class="forgot" id="modal">
				<div class="progress">
			    	<div class="indeterminate"></div>
			  	</div>
				<section class="input-carousel">
					<div class="carousel-container" id="carousel-container" data-offset="0">

						<form class="carousel-item" id="form-1">
							<header class="modal-header">
								<h1>Forgot password</h1>
							</header>
							<div class="underlined-input">
								<input type="email" name="email" id="email-input" />
								<div class="reacts-to">
									<label class="input-placeholder">Enter your recovery email</label>
									<div class="input-underline">
										<div class="input-underline-fill"></div>
									</div>
								</div>
							</div>
							<span class="carousel-input-error" id="email-error">&emsp;</span>
							<div id="recaptcha" class="g-recaptcha" data-sitekey="6LdxLCcUAAAAAP8ZPgCUiGy_eY_AzLIJgLt3BSFD" data-size="invisible" data-bind="btn-finish" data-callback="finishRecovery"></div>
							<div class="button-row">
								<a href="./">Sign in</a>
								<button class="btn btn-primary" id="btn-finish">
								Send email
								<link class="rippleJS">
								</button>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
		<footer class="footer">
			<a href="about/terms">Terms</a>
			<a href="about/privacy">Privacy</a>
			<a href="about/help">Help</a>
		</footer>
	</body>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script type="text/javascript" src="./js/forgot.bundle.js"></script>
</html>
